body{
    margin : 0 0 0 0;
}

#nom{
    color : white;
    height : 2%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#bnb{
    width : 100%;
    font-weight: bold;
    font-size: large;
    background-color: black;
    padding-top: 12px;
    text-align: center;
    box-shadow: 1px 1px 2px 1px black;
}

#presentation{
    color : white;
    background-color: black;
    font-size: large;
    height: fit-content;
    text-align: center;
    float: right;
    padding: 0 1% 1% 1%;
    overflow : auto;
    border-bottom-left-radius: 20px ;
}

a[id=f]{
    text-decoration: none;
    font-size: medium;
    color: rgb(66, 66, 255);
}

a[href="mailto:enzo.chaboisseau@gmail.com"] {
    text-decoration: none;
    color: white;
    font-size: medium;
}
a[href="telephone:06 98 08 42 02"]{
    text-decoration: none;
    color: white;
    font-size: medium;
} 


#hobby{
    color: white;
    height: 12em;
    overflow : auto;
    width: 15em;
    display: center;
    margin-top: 10%;
    padding: 1em 1em 1em 1em;     /*haut droit bas gauche*/
    background-color: grey;
    border-radius: 20px ;
}

#redirectionborder{
    width : 100%;
    display: flex;
}
    
#d1{
    float: left;
    width: 33%;
}

#txt{
    text-decoration: none;
    color: white;
}

#imgcomp{
    position: relative;
    border-radius: 20px ;
    left: 6em;
    float: right;
}

/*Autre que les block avec une class*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}
      
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
      
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} 

a[href="discord.html"] {
    text-decoration: none;
    color: grey;
    height: 2em;
    width: 100%;
} 

a[href="site_sae14.html"] {
    text-decoration: none;
    color: grey;
    height: 2em;
    width: 100%;

}

a[href="#T4"] {
    text-decoration: none;
    color: grey;
    height: 2em;
    width: 100%;
}

a[href="botdiscord.html"] {
    text-decoration: none;
    color: grey;
    height: 2em;
    width: 100%;
}

a[href^="mail"]::before {
    content: "📧 ";}
a[href^="telephone"]::before {
    content: "📞 ";
}

/*Autre que les block du corps du texte*/

#T1{
    border: groove;
    padding: 1em 6em 1em 10em;
    background-color: grey;
    border-radius: 5% / 95%;
    margin: 0 25% 3% 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    font: italic small-caps bold 12px/2 cursive;
}

#T2{
    display: flex;
    border: groove;
    background-color: grey;
    border-radius: 5% / 95%;
    margin: 0em 25% 30px 3%;
    padding: 1em 6em 1em 3em;    /*haut droit bas gauche*/
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    font: italic small-caps bold 12px/2 cursive;
}

#T3{
    display: flex;
    border: groove;
    background-color: grey;
    border-radius: 5% / 95%;
    margin: 0em 25% 30px 3%;
    padding: 1em 6em 1em 7em;    /*haut droit bas gauche*/
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    font: italic small-caps bold 12px/2 cursive;
    width: 85%;
}

#T4{
    border: groove;
    padding: 1em 10em 1em 9em;  /*haut droit bas gauche*/
    background-color: grey;
    border-radius: 5% / 95%;
    margin: 0 25% 30px 3%;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    font: italic small-caps bold 12px/2 cursive;
    width: 78%;
}

#T5{
    border: groove;
    padding: 0.5em 10em 1em 6em;  /*haut droit bas gauche*/
    background-color: grey;
    border-radius: 5% / 95%;
    margin: 0 25% 10px 3%;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    height: fit-content;
    width: 60%;
}

#T51{
    font-weight: bolder;
    font-size: 18px;
    padding-top: 16px;
}

#T52{
    height: fit-content;
    margin-left: 6%;
    font: normal small-caps bold 12px/2 cursive;
}

#corpstexte{
    padding: 1.5em 2em 0em 0em;    /*haut droit bas gauche*/  
    color: black;
    background-color: rgb(64, 58, 114);
    margin: 0;
}

/*PAGE DISCORD*/

#logodiscord{
    position: absolute;
    left: 88%;
    top:0.8em;
    border-radius: 20px ;
}

#corpstexte2{
    padding: 1.2em 2em 1em 2em;    /*haut droit bas gauche*/
    margin : 0em 8em 0em 8em;
    height: 90%;
    color: black;
    background-color: black;
    border-radius: 2% / 90%;
}

#T11{
    padding: 1em 6em 1em 6em;
    border-radius: 5% / 95%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    text-align: center;
    background-color: rgb(64, 58, 114);
    font-weight: bold;
}

#T12{
    padding: 1em 6em 1em 10em;
    border-radius: 5% / 95%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    text-align: left;
    background-color: rgb(64, 58, 114);
    font-weight: bold;
}

#T13{
    padding: 1em 6em 1em 10em;
    border-radius: 5% / 95%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    text-align: left;
    background-color: rgb(64, 58, 114);
    font-weight: bold;
}

#T14{
    padding: 1em 6em 1em 10em;
    border-radius: 5% / 95%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    text-align: left;
    background-color: grey;
    height: 20%;
    background-color: rgb(64, 58, 114);
    font-weight: bold;
}

#bnb2{
    width : 100%;
    font-weight: bold;
    font-size: large;
    background-color: black;
    padding-top: 12px;
    text-align: center;
    box-shadow: 1px 1px 2px 1px black;
}

#imagediscord{
    background-image: url("image/imagediscord3.jfif");
    background-size: cover;
    background-repeat: repeat;
}

#d11{
    float: left;
    width: 50%;
}

#d12{
    float: left;
    width: 50%;
}

#blockgif{
    height: 10%;
    width: 100%;
    padding: 1em 0em 0.5em 0em;   /*haut droit bas gauche*/
    margin: 0em;
}

/*Block texte page Discord*/

#histoirediscord{
    color: black;
    font-weight: normal;
}
#discordprooupas{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#servergestion{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#formatxt{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#gestionAuth{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#pop3{
    font-weight: bold;
    font-size:small;
    justify-content: space-between;
    width: fit-content;
    margin-left: 8em;
}

#histoirelogo{
    color: black;
    margin-left: 2em;
    font-weight: normal;
}


/*POPUP*/

.modal {
    position: fixed;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.modal-content {
    position: relative;
    background-color: grey;
    padding: 10px;
    margin: auto;
    width: 37em;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


#pop3:hover {
    font-style: italic;
    font-size: 85%;
    background-color: rgb(87, 58, 114);
}
  

li[id=pop3] {
    list-style: none;
    display: flex;
    padding-right: 3px;
  }
li[id=pop3]::before {
    display: inline-block;
    font-size: small;
}

/*COPIE DE CS WEB*/

#mes-competences{
    color : black;
    padding-left: 2%;
    padding-right: 7em;
    text-align: left;
    margin-left: 2em;
    border-style: groove;
    height: fit-content;
}

#progress {
    height: 15px;
    width: 14em;
    float: right;
    margin-right: 70%;
}

#footer{
    font-size: 100%;
    padding: 1em 6% 1em 12%;       /*haut droit bas gauche*/
    display: flex;
    height: fit-content;
    width: 84.2%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

.lang{
    font-size: 1,8em;
    color : white;
    font-size: large;
    font-weight: bold;
}


#border{
    border: groove;
    margin-left: 5%;
    margin-right: 5%;
}

#stage1{
    height: fit-content;
    border-radius: 20px ;
    padding-top: 1em;
    padding-left: 1%;
}
#stage11{
    height: fit-content;
    margin: 10px 3em 0 4em;
    width: fit-content;
    padding-right: 1em;
}

#stage2{
    height: fit-content;
    border-radius: 20px ;
    padding-top: 1em;
}
#stage21{
    height: fit-content;
    border-radius: 20px;
    margin: 10px 3em 0 4em;
}

/*PROGRESS BAR*/

.progress{
    background: rgb(43, 43, 43);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 250px;
    margin: 0 0 0 12%;
}

.progress-value{
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: black;
    height: 15px;
    width: 0;
}
  
@keyframes load{
    0% { width: 0; }
    100% { width: 68%; }
}

#footer2{
    padding: 1em 12% 1em 12%;       /*haut droit bas gauche*/
    text-align: center;
    font-size: 100%;
    display: flex;
    height: fit-content;
    width: 76%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

#esport{
    text-decoration: none;
    color: blue;
}

#Tesport{
    text-decoration: none;
    font-weight: bold;
    color: black;
}


#img1{
    padding-top: 0.5em;
}

#img3{
    margin-top: 1em;
    border-radius: 20px ;
}

#emojihref{
    text-decoration: none;
    font-weight: 550;
    font-style: italic;
    color: black;
}

#botpos{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#botplusconnu{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#typelanguage{
    color: black;
    margin-left: 4em;
    font-weight: normal;
}

#botcreate{
    color: black;
    font-weight: normal;
}

#bottest{
    float: left;
    display: table-cell;
    border-radius: 30px ;
}

#corpstexte3{
    padding: 1.2em 2em 1em 2em;    /*haut droit bas gauche*/
    margin : 0em 8em 0em 8em;
    height: fit-content;
    color: black;
    background-color: black;
    border-radius: 2% / 90%;
    font: italic small-caps bold 12px/2 cursive;
}

#T141{
    padding: 1em 6em 2% 8em; 
    border-radius: 5% / 95%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    text-align: left;
    background-color: grey;
    background-color: rgb(64, 58, 114);
    font-weight: bold;
}
#T131{
    padding: 1em 2em 1em 6em;
    border-radius: 5% / 95%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 45%);
    background-color: rgb(64, 58, 114);
    height: fit-content;
    display: table;
}

#txtT131{
    margin-bottom: 10px;
    margin-top: 1%;
    margin-left: 1%;
    padding-right: 10em;
    font-weight: normal;
}

p[id=scroll] {
    overflow-y: scroll;
    height: 25em;
    float: right;
    display: table-cell;
    margin-right: 25%;
    margin-left: 8%;
  }